<nav>
    
      <a routerLink="/">Todos</a>
      <a routerLink="/completati">Completati</a>
    
  </nav>

  <ng-container  *ngIf="todos else loading">
    <section *ngIf="todos.length > 0; else empty">
    <div *ngFor="let todo of todos">
      {{todo.title}}
      <button (click)="elimina(todo.id)">&#10060;</button>
      
  
    </div>
    </section>
  </ng-container>
  <ng-template #loading>Recupero Task....</ng-template>
  <ng-template #empty>Opps, non ci sono Task!!</ng-template>
  
  
  

