/* IMPOSTAZIONI GENERALI */
body{
    background-image: url(/m1/w1/d4/start/assets/img/sfondo.png);
    display: block;
}
/* HEADER */
header{
    background-color: #1d5477;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

 header div{
    background-color: #1d5477;
    padding: 10px;

}

header div p{

   text-transform: uppercase;
}

p header{
    padding: 10px;

}

header a{
    color: white;
    text-decoration: none;
}

header li{
    list-style-type: none;
}
header li::before {
    content: "\21D2";
}

header li::after{
    content: "\21D0";
}

hr{
    display: none;
}

/* MAIN */
main{
    background-color: white;
    margin: 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0px 2px 4px gray;
}




/* ELEMENTI NEL MAIN - ARTICLE */

h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    padding: 20px;
}

h1+p{
    color: grey;
}

p{
    margin-left: 10px;
    padding: 10px;
}
strong{
    color: blueviolet;
}
article h2{
    margin-left: 20px;
    margin-top: 10px;
}
code{
    background-color: lightgray;
    border-radius: 5px;
}



ul>li{
    margin-left: 30px;
}

ol>li{

    margin-left: 30px;
}

iframe{
    border-radius: 20px;
    width: 400px;
    margin-left: 20px; 
   
}



/* TABELLE */

table{
    margin: 40px;
    text-align: center;
    border-bottom: 1px solid midnightblue;
}

thead{
    background-color: midnightblue;
    color: white;
}


th{
    padding: 20px;
}

td{
    background-color: whit;
    padding: 10px;
}

.pari{
    background-color: lightgray;
    
}


/* FORM */
    section{
        background-color: lightgray;
        padding: 30px;
        margin: 20px;
}

    form{
        margin: 20px 0px 0px 20px;
    }

    button{

        background-color: midnightblue;
        color: white;
    }

    section h2{
        text-align: center;
        font-size: x-large;
        text-transform: uppercase;
    }

    input{
        border-bottom: dashed;
    }




/* ELEMENTI NELL' ASIDE */

aside{
  
    margin: 10px 20px 10px 20px;
    
}
aside div{
    margin-bottom: 20px;
}
aside h2{
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 10px;
}
 aside p{

    font-family:'Poppins', sans-serif;
 }

 aside a {
     margin: 20px;
     font-family:'Poppins', sans-serif;

 }

.post2{
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 5px;
}

.post3{
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 5px;

}

.post4{

    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 5px;
}






/* FOOTER */
footer{
    background-color: #1d5477;
   padding: 10px;
    margin: 20px ;
    color: white;
  

}

footer p{
    text-align: center;
}

footer a{
    color: rgb(242, 44, 242);
}