.card{
    width: 150px;
    height: 280px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.elimina{
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    
}

.aggiungi{
    background-color: green;
    color: white;
    border-radius: 10px;
}