/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height:  1.5;

}

h1, h2, h3, h4, h5, h6{

    line-height: 1/1.1/1.2
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

.lni{
    color: #e42424;
}

 




/* HEADER */

@media screen and (min-width:480px) {
    


#menu{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}
#apri-menu{
    display: none;
}
input:checked + #menu{
    height: 100px;}

nav a{
    color: black;
    text-decoration: none;
   
}

#due{
    display: none;
}



div nav{
    position: sticky;
    background-color: white;
    color: black;
    padding: 50px;
    top:0;
    z-index: 5;
    
}



nav img{
    position: absolute;
    padding: 50px;
    left: 20px;
    top: 20px;
}






header div{
    background-image: url(..//images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 15px;
    

    font-size: 1rem;
    
    }

button{
    width: 30%;
    height: 30px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    box-shadow: 3px 3px 3px 3px black;

    
}

 .pulsa{
    
        animation-name: pulsa;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        box-shadow: 0px 0px 15px black,0px 0px 15px black ;
        width:1px;
        height: 1px;
        width: 20%;
        height: 30px;
        
        
        
        }
    
        @keyframes pulsa{
    
            0%{box-shadow: 0px 0px 15px black,0px 0px 50px black ;}
            50%{box-shadow: 0px 0px 15px black,0px 0px 1px black ;}
            100%{box-shadow: 0px 0px 15px black,0px 0px 50px black ;}
    
        }
    
}

   


label{
    display: flex;
    justify-content: flex-end
}

/* MAIN */

main{
    text-align: center;
    padding: 15px;
}

main .lni{
    color: #e42424;
    font-size: 40px;
}

h3{
    font-size: 2rem;
}

main img{
    width: 100%;
    margin: 10px;
}

aside section{
    background-color: #0c0633;
    color: white;
    padding: 30px;
    
}

aside section a{
    color: white;
    text-decoration: none;
}

section button{
    margin-top: 10px;
}
/*aside*/
aside img{
    width: 60%;
    margin-left: 50px;
}

article{
    text-align: center;
}

/* FOOTER */
footer{
    background-color: rgb(238,238,238);
   padding: 20px;
}

footer button{
    width: 100%;
    height: 60px;
    font-size: 25px;
}

footer h4{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 20px;
}

h6{
    padding-top:20px;
}

table{
   font-size: 20px;
   width: 100%;
 
    
    
}


caption{
    font-size: 30px;
}

th{
    font-weight: bold;
   
    
}

thead{
    background-color: #d2dce7;
}

tfoot{
    background-color: #d2dce7;
}



section{
    font-size: 15px;
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
 }

 #desktop{
     display: none;
 }

 main .indirizzo {
     font-size: 10px;
     margin-top: 20px;
 }

  .indirizzo h3{
     font-size: 20px;
 }

 main .lavora {
    font-size: 10px;
    margin-top: 20px;
}

 .lavora h3{
    font-size: 20px;
}


    
 @media screen and (min-width: 768px){

  html{
      font-size:50%;
  }

  
    header{
        position: relative;
    }

   

  header div{
      display: flex;
      flex-direction:column;
      height: 200px;
      padding: 70px;
      
  }
     #due{
      color: black;
      font-size:20px;
      position: absolute;
        top: 20px;
      right: 200px;
      padding: 20px;
      
     
      
  }

    img{
        padding: 50px;
    }

  nav button{
      position: absolute;
      top: 25px;
      right: -160px;
  }

  



  h1{
      font-size:50px;
  }

  header p{
      font-size:20px;
  }

  
button{
    width: 150px;
    height: 40px;
    font-size: 2rem;
    color: white;
    background: linear-gradient(60deg,#6cc1e2  ,#392f7a );
    box-shadow: 3px 3px 3px 3px black;

    
}

.navbar{
    display: none;
}



  body{
      line-height: 2;
  }

     .container-small{

    display: flex;}
    
    .container-small div{
    
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: row;
    
}
    main img{
        width: 80%;
        max-width: 450px;
        height: auto;
        
    }

    main p{
        font-size:15px;
        
    }

    h2{
        font-size:40px;
    }

    
    .mobile{
        display: none;
}

   

    table{
        font-size: 25px;
        width: auto;
        background-color: #d2dce7;
       margin-left: 50px;
       

      
         
    }

    thead{
        background-color: #79b4f5;
       
    }
     
     
     caption{
         font-size: 30px;
     }
     
     th{
         font-weight: bold;
         padding: 20px;
        
         
     }
     
     
     
     
     tr:nth-last-of-type(even){
         background-color: white;
         padding: 20px;

     }

   

    article{
        display: flex;
        justify-content:space-evenly;
        
    }

    article div{
        justify-content:flex-start;
        flex-direction:column;
        margin: 20px;
    }

    aside img{
        width: 300px;
        margin-bottom: 10px;
    }


    section{
        width: auto;
    }

    footer{
        font-size: 13px;
       
     
    }    
    footer .container{
        display: flex;
        justify-content:space-evenly;
        flex-basis: 33%;
    }

   footer h4{
       font-size: 20px;
       padding-right: 10px;
       
       
        
    }

    textarea{
        width: 150px;
        height: 30px;

    }

    footer button{
        width:  150px;
        height: 30px;
        font-size:15px;
    }

    footer .lni{
        font-size: 30px;
    }

    h6{
        font-size: 15px;
    }

     h3{
        font-size:30px
    }

    input {
       width: 400px;
       height: 50px;
       margin: 20px;
       padding: 5px;
       font-size: 20px;
    }

    

    
    #info{

        display: flex;}
        
     #info div{
        
       
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        

     }

    }

    @media screen and(min-widht: 480px) {

        #due{
            display: none;
        }
        
    }

     


@media screen and(min-width: 1200px){
    html{

        font-size: 80%;

    }

    body{
    margin: 0 30px 30px 30px;  }



}


    

    
   

   

    






/* RESPONSIVE */