/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height:  1.5;

}

h1, h2, h3, h4, h5, h6{

    line-height: 1/1.1/1.2
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

.lni{
    color: #e42424;
    font-size: 30px;
}
h3{
    font-weight: bold;
    font-size: 2rem;
}

h4{
    font-weight: bold;
    font-size: 1.5rem;
}

h6{
    font-size: 1.1rem;
}








nav{
    display: flex;
    background-color: white;
    position: relative;
    position: sticky;
}

nav img{
    width: 100%;
    margin: 20px 20px;
      

}

.navbar{
    position: absolute;
    right: 0px;
    top: 0px;
}

#menu{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    
   

    
}
#apri-menu{
    display: none;
}
input:checked + #menu{
    height: 100px;}


nav a{
    color: black;
    text-decoration: none;
   
}

/* HEADER */
header .grande{
    width: 100%;
    height: auto;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

.grande{
    display: flex;
    font-size: 1.5rem;
}

.testa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

header button{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    box-shadow: 3px 3px 3px 3px black;
    margin-top: 20px;
}

.pulsa{
    
    animation-name: pulsa;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 15px black,0px 0px 15px black ;
    
    
    
    
    }

    @keyframes pulsa{

        0%{box-shadow: 0px 0px 15px black,0px 0px 50px black ;}
        50%{box-shadow: 0px 0px 15px black,0px 0px 1px black ;}
        100%{box-shadow: 0px 0px 15px black,0px 0px 50px black ;}

    }

 /* MAIN */


 .piccolo{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 70px;
     

 }

 .info{
     margin-top: 30px;

 }

 .scrivici{
     display: flex;
    background-color: #0c0633;
    color: white;
    flex-direction: column;
   
 }


 .oggi{
     width: 100%;
     height: 400px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 20px 10px;
     text-align: center;
 }

 .src{
    width: 30%;
    height: 40px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    box-shadow: 3px 3px 3px 3px black;
    margin-top: 30px;
 }

 /*aside*/

aside{
    display: flex;
    flex-direction: column;
    
}

.article{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

aside div{
    margin-top: 30px;
}





/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
   
    background-color: rgb(238,238,238);
    margin-top: 30px;
    padding: 30px 50px; 
  

}

footer div{
    margin-top: 50px;
}

.indirizzo{
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    width: 80%;

   
   
}

.vabene{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 30px;
    font-size: 20px;
 }



 /*chi siamo*/

main{
    text-align: center;
    margin: 30px;
}

table{
    font-size: 20px;
    width: 100%;
}
 
 
 caption{
     font-size: 30px;
 }
 
 th{
     font-weight: bold;
    
     
 }
 
 thead{
     background-color: #d2dce7;
 }
 
 tfoot{
     background-color: #d2dce7;
 }

 textarea{
    width: 150px;
    height: 30px;

}

.invia{
    width: 200px;
    height: 50px;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    color: white;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 30px;
}


h6{
    font-size: 15px;
}

 h3{
    font-size:30px
}

input {
   width: 250px;
   height: 50px;
   margin: 20px;
   padding: 5px;
   font-size: 20px;
}



/* RESPONSIVE */

@media screen and (min-width:468px) and (max-width: 767px){
    #due{
        display: none;
        
    }

    .desktop{
        display: none;
    }
}

@media screen and (min-width: 768px){

.navbar{
    display: none;

}

nav a{
    padding: 10px;
    font-size: 30px;
    margin-top: 25px;
}
#due{
    color: black;
    font-size:30px;
    position: absolute;
    right: 50px;
    top: 20px;
    
    
  
    
   
    
}

 .bottone{
    
    width: 200px;
    height: 50px;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    color: white;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 30px;
}

nav{
    margin-bottom: 60px;
    position: relative;
    
}



header .grande{
    width: 100%;
    height: 500px;
    padding: 30px;
    
}

header button{
    width: 170%;
    height: 60px;
    font-size: 1.5rem;
    margin-top: 20px;
}

main div{
    width: 100%;
   
    margin: 30px;
}
section{
    width: 100%;
}

.src{
    width: 20%;
    height: 80px;
    font-size: 25px;
}

.info{

   width: 100%;
   height: 450px;
   display: flex;
   flex-direction: row;
  
  
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: 80px;
    
}

footer{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: -60px;
}

.mobile{
    display: none;
}

table{
    font-size: 25px;
    width: auto;
    background-color: #d2dce7;
   margin-left: 50px;
   

  
     
}

thead{
    background-color: #79b4f5;
   
}
 
 
 caption{
     font-size: 30px;
 }
 
 th{
     font-weight: bold;
     padding: 20px;
    
     
 }
 
 
 
 
 tr:nth-last-of-type(even){
     background-color: white;
     padding: 20px;

 }

 /*contatti*/
 textarea{
    width: 150px;
    height: 30px;

}

.invia{
    width: 200px;
    height: 50px;
    background: linear-gradient(30deg, #6cc1e2,#392f7a);
    color: white;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 30px;
}


h6{
    font-size: 15px;
}

 h3{
    font-size:30px
}

input {
   width: 400px;
   height: 50px;
   margin: 20px;
   padding: 5px;
   font-size: 20px;
}

}
