/* general style */ 

body{
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
}

h2{
    font-weight: 100;
    font-family: 'Orbitron', sans-serif;
}

/* style header */
header {
    background-color: brown;

}

/*section numeri*/

#numeri{
    background-color: blue;
    color: white;
    text-align: center;
}
/*solo div con numeri dentro */
#numeri div{
    background-color: brown;
}

/*articoli*/
.articolo{
    width: 200px;
}

.articolo.articolo-grigio{
    background-color: grey;
}

.articolo img{
    max-width: 100%;
}







