<nav>
    
      <a routerLink="/">Todos</a>
      <a routerLink="/completati">Completati</a>
    
  </nav>
  
<ng-container  *ngIf="todos; else loading">
  <section *ngIf="todos.length > 0; else empty">
  <div *ngFor="let todo of todos">
    {{todo.title}}
    <button (click)="completa(todo.id)">&#9989;</button>

  </div>
  </section>
</ng-container>
<ng-template #loading>Recupero Task....</ng-template>
<ng-template #empty>Opps, non ci sono Task!!</ng-template>


  <input type="text" class="form-control" [(ngModel)]="input"> <button class="aggiungi" (click)="save()">&#10010;</button>
    
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <p>Ho implentato l esercizio con i metodi mancanti ma solo dopo aver visto l eserzio del tutor</p>
  <p>Il primo push conteneva solo il metoto di aggiungere i task e la promise  e la paginazione, il resto ho dovuto prendere spunto dal tutor perche non riuscivo ad andare avanti mi ero bloccato</p>
      
   

  
