<nav>
    
      <a routerLink="/">Todos</a>
      <a routerLink="/completati">Completati</a>
    
  </nav>
  
<ng-container  *ngIf="todos"; else empty>
  <section *ngIf="todos.length > 0; else empty">
  <div *ngFor="let todo of todos">
    {{todo.title}}
    <button (click)="completa(todo.id)">&#9989;</button>

  </div>
  </section>
</ng-container>
<ng-template #loading>Recupero Task....</ng-template>
<ng-template #empty>Opps, non ci sono Task!!</ng-template>


  <input type="text" class="form-control" [(ngModel)]="input"> <button class="aggiungi" (click)="save()">&#10133;</button>
    
  
      
   

  
